.keyboard {
  .line-top {
    display: flex;
    justify-content: center;
    margin: 0 auto 6px;
  }

  .line-middle {
    display: flex;
    justify-content: center;
    margin: 0 auto 6px;
  }

  .line-bottom {
    display: flex;
    justify-content: center;
    margin: 0 auto 6px;
  }

  .spacer {
    flex: 0.5;
  }
}
