.app {
  background-color: #121212;
  color: white;
  height: 100vh;

  .grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 29px;
  }

  .keyboard-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

body {
  margin: 0;
}
