.app {
  .game {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // flex: 1;
  }
}

body {
  margin: 0;
  background-color: #121212;
  color: white;
}
