.key {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 6px 0 0;
  height: 60px;
  font-size: 1rem;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  flex: 1.5;
}

#disabled {
  background-color: #3a393c;
}
